<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuite>
        <directory suffix="Test.php">src/Tests</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
